.floatingButton {
  position: absolute;
  bottom: 100px;
  right: 100px;
  background-color: #4ac600;
  color: #fff;
  font-size: 18px;
  height: 50px;
  padding: 10px 30px;
  border: none;

  &:hover {
    background-color: #4ac600;
    color: #fff;
    border: none;
  }
}
