.udhaarCardTopContainer {
  // border: 2px solid red;
  background-color: #fff;
  height: 80vh;
  padding: 10px;
  border-radius: 10px;
}

.transactionHistoryContainer {
  // border: 2px solid red;
  background-color: #e87040;
  height: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 10px;
}

.myTransactionCard {
  // border: 2px solid blue;
  margin: 10px 10px 20px 10px;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  background-color: #fff;
  color: #e87040;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-self: flex-end;
}

.otherTransactionCard {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // border: 2px solid green;
  margin: 10px 10px 20px 10px;
  padding: 10px;
  border-radius: 10px;
  width: 500px;

  background-color: #fff;
  color: #e87040;
  font-size: 15px;
}
