@import "../_mixins.scss";
@import "../_variables.scss";

.container {
  display: flex;
  height: 85vh;
  align-items: center;
  justify-content: center;

  .leftContainer {
    min-width: 500px;
    h1 {
      font-size: 30px;
      text-transform: uppercase;
      color: $color-dark-gray;
      font-weight: 600;
    }
  }

  .rightContainer {
    min-width: 500px;
    margin-top: 230px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-;

    .button {
      //   margin-top: 10px;
      float: right;
    }
  }

  .loginForm {
    min-width: 500px;
    h1 {
      font-size: 30px;
      text-transform: uppercase;
      color: $color-dark-gray;
      font-weight: 600;
    }
  }

  .imageContainer {
    min-width: 500px;
    margin-left: 50px;
  }
}

.button {
  margin-right: 10px;
}

.forgot {
  float: right;
}
