@import "../_mixins.scss";
@import "../_variables.scss";

.container {
  //   background-color: $color-primary-dark;
  text-align: center;

  h1 {
    font-size: 30px;
    color: $color-dark-gray;
    font-weight: 700;
  }
  p {
    color: $color-dark-gray;
    font-size: $default-font-size;
    margin-bottom: 20px;
  }
}
