@import "../../_mixins.scss";
@import "../../_variables.scss";

.container {
  //   border: 2px solid blue;
  text-align: center;
  margin-top: 100px;
  height: fit-content;
  padding: auto;
  min-height: 50vh;

  h1 {
    font-size: 40px;
    font-weight: 700;
    color: $color-dark-gray;
    text-transform: capitalize;
  }

  .btn {
    margin-top: 10px;
  }
}
