// Add items here that don't render CSS

// Colors Used
$color-primary: #e87040;
$color-primary-light: #f3956a;
$color-primary-dark: #d84a1b;

$color-white: #fff;
$color-black: #000;

$color-dark-gray: #524d4f;
// FONT SIZES

$default-font-size: 1.6rem;
